@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500&subset=latin-ext');

body {
    background: url(../img/background.jpg);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.logo {
    height: 130px;
    padding-top: 10px;
}

.calendar-header {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px #000;
}

span {
    font-weight: 100;
}

h3 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}

p {
    font-weight: 100;
    font-size: 15px;
    opacity: 0.5;
    margin-bottom: 40px;
}

.panel-default {
    border: none;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;    
}

.panel-default .panel-heading {
    background-color: rgba(0, 0, 0, 0.0);    
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    border: none;
}

.panel-body {
    border-color: #000;
}

.panel-left {
    float: left;
    width: 75%;
}

.panel-right {
    float: right;
    width: 25%;
    font-size: 50px;
    opacity: 0.5;    
}

.btn {
    width: 100%;
    background: #FD625E;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    border: none;
}

.btn:hover {
    background: #FD7C78;
    text-shadow: 1px 1px 1px #000;
}

.form-control {
    border: 0;
}

.fa-pencil-square-o {
    font-size: 75px;
}

.form-group {
    padding: 5px 0;
}